h1 {
	text-align: left;
	margin: 0;
	text-decoration: none;
	color: black;
	display: inline-block;
}


h1::after{
	content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #000;
    transition: width .4s;
}
h1:hover::after{
	width: 100%;
}

/*h1:focus{
	border-bottom: 3px solid black;
}*/

/*h1:hover{
	text-decoration: underline;
}*/

header {
	margin-bottom: 2em;
}

h2{
	margin-top: .5em;
	font-size: 1em;
	color: black;
	font-weight: lighter;
}

.circle {
    height: 70px;
    width: 70px;

    -moz-border-radius: 35px;
    border-radius: 35px;

    background-color: #5cffe6;
    margin-bottom: 1em;
}

.hiddenLink {
	position:absolute; 
left:-10000px; 
top:auto; 
width:1px; 
height:1px; 
overflow:hidden;
}